build --java_language_version=17
build --java_runtime_version=17
build --tool_java_language_version=17
build --tool_java_runtime_version=17

build --host_javabase=@local_jdk//:jdk
build --javabase=@local_jdk//:jdk
build --extra_toolchains=@local_jdk//:all
